<li>
  {{burger_name}}

  <button class="change-devoured" data-id="{{id}}" data-newDevour="{{devoured}}">
    {{#if devoured}}I'VE BEEN EATEN!{{else}}EAT ME!{{/if}}
  </button>

  <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>